# Ignore paths that contain user-generated content.
# Ignore IDE's configuration files
.idea
robots.txt
.vscode

#Ignor cypress 
automation/node_modules
automation/node_modules/*
automation/node_modules/*/*
automation/cypress/screenshots
automation/cypress/screenshots/*
automation/cypress/screenshots/*/*
node_modules
